<section>
  <div id="container_demo">

    <div id="wrapper" style="height:auto">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="reactiveForm">
          <div id="requestForm">
            <h1>New Employee</h1>

            <label for="Title" class="title"> {{Title}} </label>

            <label for="requester" class="uname"> Requested By : </label>{{username}}
            
            <label for="requestedFor" class="requestedFor"> Requested For </label>
            <input #requestedFor name="requestedFor" required="required" formControlName="requestedFor" type="text" placeholder=" mymail"/>
            <h6 class="alert" *ngIf="!reactiveForm.controls['requestedFor'].valid && reactiveForm.controls['requestedFor'].touched ">"Incorrectly specified email"</h6>

            <label for="priority" class="priority" >Priority</label>
            <select>
                <option value="Urgent" [value]="priority">Urgent</option>
                <option value="High" [value]="priority">High</option>
                <option value="Medium" [value]="priority">Medium</option>
                <option value="Low" [value]="priority">Low</option>
              </select>

              <label for="requestType" class="requestType" >request type</label>
              <select>
                  <option #requestType value="New" [value]="requestType">New</option>
                  <option #requestType value="Maintence" [value]="requestType">Maintence</option>
                </select>

                <label for="resourceType" class="resourceType" >resource type</label>
                <select (change)="resourceRequested(requestType.value,resourceType.value)">
                    <option #resourceType value="Hardware Provisioning" [value]="resourceType">Hardware Provisioning</option>
                    <option #resourceType value="Software Installation" [value]="resourceType">Software Installation</option>
                    <option #resourceType value="Network Related" [value]="resourceType">Network Related</option>
                  </select>

              <label for="ResourceRequested" class="ResourceRequested">Resources</label>
              <select *ngIf="requestType.value=='New'">
                <option *ngFor="let resource of resources" [value]="resource">{{ResourceType}}</option>
                </select>
            <br>
            <span>

                <label for="comment" class="comment">Comment </label>
                <textarea #comment  rows="4" cols="50"></textarea>
               
                <label for="location" class="location"> Your location </label>
                <textarea #location  rows="4" cols="50"></textarea>
                <button id="button" class="btn btn-primary " (click)="Request(requestedFor.value,priority.value,resource.value,comment.value,location.value)">Register</button>

            </span>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>