body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}
#page {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}
a {
  color: #F85A16;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover,
a:active,
a:focus {
  color: #F85A16;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
p {
  margin-bottom: 20px;
}
::-webkit-selection {
  color: #fff;
  background: #F85A16;
}
::-moz-selection {
  color: #fff;
  background: #F85A16;
}
::selection {
  color: #fff;
  background: #F85A16;
}
.gtco-container {
  margin: 0px 10px 0px 10px;
}
.gtco-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .gtco-nav {
      padding: 20px 0;
  }
}
.gtco-nav #gtco-logo {
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.gtco-nav a {
  padding: 5px 10px;
  color: #fff;
}
.gtco-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.gtco-nav ul li a {
  font-size: 16px;
  padding: 30px 10px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 568px) {
  .gtco-nav ul li a {
      font-size: 12px;
      padding: 10px 10px;
  }
}
@media screen and (max-width: 568px) {
  .gtco-nav ul {
      margin-left: -54px;
  }
}
@media screen and (max-width: 568px) {
  #gtco-logo {
      text-align: center;
  }
}
.gtco-nav ul li a:hover,
.gtco-nav ul li a:focus,
.gtco-nav ul li a:active {
  color: white;
}
.gtco-nav ul li.has-dropdown {
  position: relative;
}
#gtco-header,
#gtco-counter,
.gtco-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
.gtco-cover {
  height: 900px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
.gtco-cover a {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.gtco-cover .overlay {
  background: rgba(0, 0, 0, 1);
}
@media screen and (max-width: 768px) {
  .gtco-cover {
      height: 600px;
  }
}
.gtco-cover .display-t,
.gtco-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .gtco-cover .display-t,
  .gtco-cover .display-tc {
      height: 600px;
  }
}
.gtco-cover.gtco-cover-sm {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-sm {
      height: 400px;
  }
}
.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-sm .display-t,
  .gtco-cover.gtco-cover-sm .display-tc {
      height: 400px;
  }
}
#gtco-header .display-tc,
.gtco-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#gtco-header .display-tc h1,
#gtco-header .display-tc h2,
.gtco-cover .display-tc h1,
.gtco-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
}
#gtco-header .display-tc h1,
.gtco-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 70px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  #gtco-header .display-tc h1,
  .gtco-cover .display-tc h1 {
      font-size: 40px;
  }
}
#gtco-header .display-tc h2,
.gtco-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}
.btn-white {
  background: rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  color: white;
  background: #F85A16!important;
}
.btn-white.btn-outline:hover,
.btn-white.btn-outline:focus,
.btn-white.btn-outline:active {
  background: #fff;
  color: white;
}
.section1 {
  background: #cccccc;
}
.section2 {
  background: #e0d0b6;
}
.section3 {
  background: #dad6cb;
}
h1 {
  color: darkslategrey;
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
  /* Adjusts for spacing */
}
@media screen and (max-width: 568px) {
  .modal-dialog {
      vertical-align: top;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/*modal form css*/
/* Form */

.form {
  text-align: center;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .buttons {
  outline: 0;
  background: #df7407;
  width: 45%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.google-button {
  outline: 0;
  background: #d34836;
  width: 45%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #df7407;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.info {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.info:before,
.info:after {
  content: "";
  display: block;
  clear: both;
}
.info {
  margin: 5px auto;
  text-align: center;
}
.info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.info span {
  color: #4d4d4d;
  font-size: 12px;
}
.info span a {
  color: #000000;
  text-decoration: none;
}
.info span .fa {
  color: #df7407;
}
.modal-body {
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  padding: 0px;
}
#section2 {
  padding-top: 55px;
}
#section3 {
  padding-top: 55px;
}
@media screen and (max-width: 568px) {
  .main-center {
      margin-top: 20px;
      max-width: 80%;
      padding: 20px 20px;
  }
}
@media screen and (max-width: 568px) {
  h1.title {
      font-size: 25px;
      font-weight: 300;
  }
}