<p>
  need-information works!
</p>
<!--

<b>Ticket Search : </b> <input [(ngModel)]="searchText"  placeholder="Search Employee " >
<div class="container">
<div class="col-sm-6 col-md-4 manager-list" *ngFor="let ticket of tickets| filter : searchText">
  <div class="chart-wrapper">
    <div class="chart-title">
     {{ticket.ticketNo}}
    </div>
    <div class="chart-stage">
      <div id="grid-1-1">
        {{ticket.requesterName}}
        {{ticket.requestedFor}}
        <hr>
        {{ticket.priority}}
        {{ticket.comment}}
        <hr>
        {{ticket.requestedResource.resourceName}}
      </div>
    </div>
    <div class="chart-notes">
    
    
      <button  class="btn btn-default" data-toggle="tooltip"  title="Decline" (click)="updateTicket()"><span class="glyphicon glyphicon-folder-close"></span></button>
      
    </div>
    </div>
  </div>
</div>
   
-->