body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #efecec;
}
h6 {
  height: 0px;
  margin-top: -10px;
  margin-bottom: 0px;
  color: red;
}
.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px saddlebrown;
}
.chart-title {
  border-bottom: 1px solid #d7d7d7;
  text-align: center;
  color:black;
  background-color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}


 .chart-stage {
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  position: relative;
  background-color: white;
}

.chart-notes {
  border-top: 1px solid #e2e2e2;
  background-color: white;
  text-align: center;
  font-size: 12px;
  padding:10px;
}


.main-content {
  min-height: 750px;
}

.btn{
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
input#search-bar {
  margin: 0 auto;
  width: 72%;
  height: 45px;
  padding: 0 20px;
  font-size: 12px;
  border: 1px solid #D0CFCE;
  outline: none;
  margin-bottom: 20px;
}
.searchBar {
  margin-top: 20px;
  text-align: center;
}
pagination-controls {
  text-align: center;
}