<header>
	<div class="layer1 ">
		<div class="container-fluid">
			<div class="row">
				<button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="logo col-xs-12 col-sm-11 col-md-11 col-lg-11">
					<h1>IT RESOURCE REQUEST</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<router-outlet></router-outlet>
<footer >
	<div class="container">
		<p>&copy; 2017 All rights reserved.</p>
	</div>
</footer>
