
 <app-navbar></app-navbar>

    <div *ngIf="managers">
      <div class="main-content">
        <div class="container">
          <h2>Managers</h2>
          <br>
          <div class="row">
         
              <div class="col-sm-6 col-md-4 manager-list" *ngFor="let manager of managers">
                  <div class="chart-wrapper">
                    <div class="chart-title">
                        {{manager.name}}
                    </div>
                    <div class="chart-stage">
                      <div id="grid-1-1">
                          {{manager.login.username}}
                      </div>
                    </div>
                    <div class="chart-notes">
                        {{manager.contactNumber}}
                    </div>
                  </div>
                </div>

                
            
          </div>
        </div>
      </div>

 
    </div>



  