
<div *ngIf="id=='true'"> 

    <div class="container" *ngIf="employee">
        <h2>Employee Detail</h2>
        <br>
        <div class="row">
          <div class="col-lg-12 col-md-3 col-sm-6 col-xs-12" >
            <div class="card card-outline-primary mb-3 text-center">
              <div class="card-block">
                <h3 class="card-title">{{employee.name}}</h3>
              <hr>  
                <span><b>{{employee.designation}}</b></span>
              <hr>
              <span><b>{{employee.login.username}}</b></span>
              <hr>
              <span><b>{{employee.contactNumber}}</b></span>
              
              </div>
            </div>
            <br><br>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="id=='false'"> 
      <section>
        <div id="container_demo">
          
          <div id="wrapper" style="height:auto">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <form [formGroup]="reactiveForm">
        <div id="sign" >
          <h1>Update Employee</h1>
         
          
              <label for="emailId" class="emailId"> Employee Email </label>:{{username}}<br>
              <label for="usernameEmp" class="uname"> Update Employee Name </label>
              <input #usernameEmp name="usernameEmp" formControlName="empName" required="required" type="text" placeholder="myusername " />
              <h6 class="alert" *ngIf="!reactiveForm.controls['empName'].valid && reactiveForm.controls['empName'].touched">Invalid Enter</h6>
              <label for="contactno" class="contactNumber"> Employee Contact Number </label>
              <input #contactnoEmp name="contactnoEmp" required="required" formControlName="empContact" type="text" placeholder="eg. 8888-888888" />
              <h6 class="alert" *ngIf="!reactiveForm.controls['empContact'].valid && reactiveForm.controls['empContact'].touched">"Please fill a valid contact number"</h6>
            
            <br>
            <span>

            
              <button id ="button" class="btn btn-primary " (click)="updateEmployee(usernameEmp.value,contactnoEmp.value)">Update</button>



            </span>
          </div>
          </form>
       
      </div>
      </div>
    </div>
  </section>
 
</div>

<button class="btn btn-warning" (click)="goBack()">Back</button>

   