<body class="dashboard" >
    <app-navbar></app-navbar>
    <div class="tab-content">
       <div class="tab-pane in active" id="section1">
          <div class="container-fluid">
             <div class="row">
                <div class="col-sm-3">
                   <div class="chart-wrapper">
                      <div class="chart-title">
                         Cell Title
                      </div>
                      <div class="chart-stage">
                         <img data-src="holder.js/100%x650/white">
                      </div>
                      <div class="chart-notes">
                         Notes about this chart
                      </div>
                   </div>
                </div>
                <div class="col-sm-9">
                   <div class="row">
                      <div class="col-sm-12">
                         <div class="chart-wrapper">
                            <div class="chart-title">
                               Employee Info
                            </div>
                            <div class="chart-stage">
                            </div>
                            <div class="chart-notes">
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-sm-4">
                         <div class="chart-wrapper">
                            <div class="chart-title">
                               Open
                            </div>
                            <div class="chart-stage">
                               <img class="img-responsive" src="assets/images/open.png">
                            </div>
                            <div class="chart-notes">
                               Opened Requests
                            </div>
                         </div>
                      </div>
                      <div class="col-sm-4">
                         <div class="chart-wrapper">
                            <div class="chart-title">
                               In-Progress
                            </div>
                            <div class="chart-stage">
                               <img class="img-responsive" src="assets/images/Progress.png">
                            </div>
                            <div class="chart-notes">
                               Requests in progress
                            </div>
                         </div>
                      </div>
                      <div class="col-sm-4">
                         <div class="chart-wrapper">
                            <div class="chart-title">
                               Need Additional Information
                            </div>
                            <div class="chart-stage">
                               <img class="img-responsive" src="assets/images/needInformation.png">
                            </div>
                            <div class="chart-notes">
                               Requests which require additional Information
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-sm-4">
                         <div class="chart-wrapper">
                            <div class="chart-title">
                               Requests Reopened
                            </div>
                            <div class="chart-stage">
                               <img class="img-responsive" src="assets/images/reopened.png">
                            </div>
                            <div class="chart-notes">
                               Requests which are reopened
                            </div>
                         </div>
                      </div>
                      <div class="col-sm-4">
                         <div class="chart-wrapper">
                            <div class="chart-title">
                               Approved requests
                            </div>
                            <div class="chart-stage">
                               <img class="img-responsive" src="assets/images/approved.png">
                            </div>
                            <div class="chart-notes">
                               Requests which are approvd
                            </div>
                         </div>
                      </div>
                      <div class="col-sm-4">
                         <div class="chart-wrapper">
                            <div class="chart-title">
                               Requests which are closed
                            </div>
                            <div class="chart-stage">
                               <img class="img-responsive" src="assets/images/closed.png">
                            </div>
                            <div class="chart-notes">
                               Closed requests
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </body>