
    <app-navbar></app-navbar>
    <div class="dashboard" >
    <div class="tab-pane in active" id="section1">
       <div class="container">
          <div class="row">
             <div class="col-sm-12">
                <div class="row">
                   <div class="col-sm-12">
                      <div class="chart-wrapper">
                         <div class="chart-title">
                            Employee Info
                         </div>
                         <div class="chart-stage">
                            <div class ="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                               <img class="img-responsive" src="assets/images/userIcon.png">
                            </div>
                            <div class ="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <div *ngIf="loggedInUser">
                               <div class="chart-stage" >
                                    <h5><span class="pull-left"><b>Name:</b></span> <span class="pull-left">{{loggedInUser.name}}</span></h5>
                                    <br>
                                    <h5><span class="pull-left"><b>EmailID:</b> </span> <span class="pull-left">{{loggedInUser.login.username}}</span></h5>
                                    <br>
                                    <h5><span class="pull-left"><b>Designation: </b></span><span class="pull-left">{{loggedInUser.designation}}</span></h5>
                                    <br>
                                    <h5><span class="pull-left"><b>Contact Number:</b> </span> <span class="pull-left">{{loggedInUser.contactNumber}}</span></h5>
                                    <br>
                                    <h5><span class="pull-left"><b>Organisation Domain:</b> </span><span class="pull-left">{{loggedInUser.orgDomain}}</span></h5>
                                    <br>   </div>
                                    </div>
                            </div>
                         </div>
                         <div class="chart-notes">
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-sm-4">
                      <div class="chart-wrapper">
                         <div class="chart-title">
                            Open
                         </div>
                         <div class="chart-stage">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                               <img class="img-responsive" src="assets/images/open.png">
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                               <a class="status"  (click)="getRequestsOpen('Helpdesk')">Total Request: {{OpenCount}}</a>
                            </div>
                         </div>
                         <div class="chart-notes">
                            Opened Requests
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-4">
                      <div class="chart-wrapper">
                         <div class="chart-title">
                            In-Progress
                         </div>
                         <div class="chart-stage">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                               <img class="img-responsive" src="assets/images/Progress.png">
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                               <a class="status"  (click)="getRequestsInProgress('Helpdesk')">Total Request: {{InProgressCount}}</a>
                            </div>
                         </div>
                         <div class="chart-notes">
                            Requests in progress
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-4">
                      <div class="chart-wrapper">
                         <div class="chart-title">
                            Need Additional Information
                         </div>
                         <div class="chart-stage">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                               <img class="img-responsive" src="assets/images/info.png">
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                               <a class="status"  (click)="getRequestsNeedInfo('Helpdesk')">My Request: {{NeedInfoCount}}</a>
                            </div>
                         </div>
                         <div class="chart-notes">
                            Requests which require additional Information
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-sm-4">
                      <div class="chart-wrapper">
                         <div class="chart-title">
                            Approved requests
                         </div>
                         <div class="chart-stage">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                               <img class="img-responsive" src="assets/images/approved.png">
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                               <a class="status"  (click)="getRequestsApproved('Helpdesk')">My Request: {{ApprovedCount}}</a>
                            </div>
                         </div>
                         <div class="chart-notes">
                            Requests which are approvd
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-4">
                      <div class="chart-wrapper">
                         <div class="chart-title">
                            Requests which are closed
                         </div>
                         <div class="chart-stage">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                               <img class="img-responsive" src="assets/images/closed.png">
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                               <a class="status"  (click)="getRequestsClosed('Helpdesk')">My Request: {{ClosedCount}}</a>
                            </div>
                         </div>
                         <div class="chart-notes">
                            Closed requests
                         </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>