body {
    font-family: 'Arimo', sans-serif;
    /*font-family: 'Open Sans', sans-serif; */
    margin:0px;
      padding:0px;
    box-sizing:border-box;
    margin:0px;
      padding:0px;
    box-sizing:border-box;
    min-height: 100%;
    background-image:url(assets/images/img_bg_1.jpg);
    width: 100%;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    }
    
    @-webkit-keyframes fontfix {
    from { opacity: 1; }
    to { opacity: 1; }
    }