<app-navbar> </app-navbar>
<div *ngIf="type=='Member'">
   <div  style="background-image:url(assets/images/img_bg_1.jpg); width:100%">
      <div class="container" style="min-height:100%">
         <div class="row main" >
            <div class="main-login main-center">
               <div class="panel-title text-center">
                  <h1 class="title">New Request</h1>
                  <hr />
               </div>
               <form class="form-horizontal" #memberForm="ngForm" (ngSubmit)="onFormSubmit(memberForm)">
               <div class="form-group">
                  <label for="priority" class="cols-sm-2 control-label">Priority</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-list list"></i></span>
                        <span>
                           <select  name="priority" required class="form-control" ngModel required #priority="ngModel">
                              <option value=""  id="first" style="color:#D9D9D9" >Please select your priority</option>
                              <option value="Urgent">Urgent</option>
                              <option value="High">High</option>
                              <option value="Medium">Medium</option>
                              <option value="Low">Low</option>
                           </select>
                        </span>
                     </div>
                     <div *ngIf="priority.invalid && priority.touched && !isValidFormSubmitted"> 
                        {{errorTitle}}
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="priority" class="cols-sm-2 control-label">Request Type</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-list list"></i></span>
                        <span>
                           <select name="requestType" required class="form-control" ngModel required #requestType="ngModel">
                              <option value="" id="first" style="color:#D9D9D9">Please select request type</option>
                              <option value="New">New</option>
                              <option value="Maintainance">Maintainance</option>
                           </select>
                        </span>
                     </div>
                     <div *ngIf="requestType.invalid && requestType.touched && !isValidFormSubmitted"> 
                        {{errorTitle}}
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="priority" class="cols-sm-2 control-label">Resource Type</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-list list"></i></span>
                        <span>
                           <select name="resourceType" (change)="resourceRequested(requestType.value,resourceType.value)" required class="form-control" ngModel required #resourceType="ngModel">
                           <option value=""  id="first"  style="color:#D9D9D9">Please select resource type</option>
                           <option value="Hardware" [ngValue]="resourceType">Hardware Provisioning</option>
                           <option value="Software" [ngValue]="resourceType">Software Installation</option>
                           <option value="Network" [ngValue]="resourceType">Network Related</option>
                           </select>
                        </span>
                     </div>
                  </div>
                  <div *ngIf="resourceType.invalid && resourceType.touched && !isValidFormSubmitted"> 
                     {{errorTitle}}
                  </div>
               </div>
               <div class="form-group">
                  <label for="priority" class="cols-sm-2 control-label">Resource</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-list list"></i></span>
                        <span><select [(ngModel)]="selectedResource" name="resource" class="form-control" ngModel required #resource="ngModel">
                        <option *ngFor="let resource of resourceValues" [ngValue]="resource">{{resource.resourceName}}</option>
                        </select></span>
                     </div>
                  </div>
                  <div *ngIf="resourceType.invalid && resourceType.touched && !isValidFormSubmitted"> 
                     {{errorTitle}} 
                  </div>
               </div>
               <div class="form-group">
                  <label for="priority" class="cols-sm-2 control-label">Team</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-list list"></i></span>
                        <span><select [(ngModel)]="selectedTeam" name="team" required class="form-control">
                        <option disabled selected *ngFor="let team of teamsOfEmployee" [ngValue]="team">{{team.teamName}}</option>
                        </select></span>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="confirm" class="cols-sm-2 control-label">Comment</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i  class="fa fa-pencil comment"  aria-hidden="true" ></i></span>
                        <textarea name="comment" id="textarea" placeholder="Ticket Description" required ngModel required #comment="ngModel"></textarea>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="confirm" class="cols-sm-2 control-label">Location</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i  class="fa fa-pencil comment"  aria-hidden="true" ></i></span>
                        <textarea name="locn" id="textarea" placeholder="Seat Location" required  ngModel required #locn="ngModel"></textarea>
                     </div>
                  </div>
               </div>
               <div class="button-container">
                  <span><button type="submit" class="btn btn-default login-button" (click)="goBack()">Go Back</button></span>
                  <span><button type="submit" class="btn btn-default login-button"  [disabled]="memberForm.invalid" >Register</button></span>
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<div *ngIf="type=='Manager'">
   <div  style="background-image:url(assets/images/img_bg_1.jpg); width:100%">
      <div class="container" style="min-height:100%">
         <div class="row main" >
            <div class="main-login main-center">
               <div class="panel-title text-center">
                  <h1 class="title">New Request</h1>
                  <hr />
               </div>
               <form class="form-horizontal" #managerForm="ngForm" (ngSubmit)="onFormSubmit(managerForm)">
               <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label" class="name cols-sm-2">Requested For </label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input #requestedFor name="requestedFor" class="form-control"  [(ngModel)] ="requesterFor"  required="required" type="text" (change)="canRequest(requestedFor.value)" placeholder="mail of person you want to request " />
                        <p class="domain_message" *ngIf="title">{{title}}</p>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="priority" class="cols-sm-2 control-label">Priority</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-list list"></i></span>
                        <span>
                           <select  name="priority" required class="form-control" ngModel required #priority="ngModel">
                              <option value=""  id="first" style="color:#D9D9D9">Please select your priority</option>
                              <option value="Urgent">Urgent</option>
                              <option value="High">High</option>
                              <option value="Medium">Medium</option>
                              <option value="Low">Low</option>
                           </select>
                        </span>
                     </div>
                     <div *ngIf="priority.invalid && priority.touched && !isValidFormSubmitted"> 
                        {{errorTitle}}
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="priority" class="cols-sm-2 control-label">Request Type</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-list list"></i></span>
                        <span>
                           <select name="requestType" required class="form-control" ngModel required #requestType="ngModel">
                              <option value=""  id="first" style="color:#D9D9D9">Please select request type</option>
                              <option value="New">New</option>
                              <option value="Maintainance">Maintainance</option>
                           </select>
                        </span>
                     </div>
                     <div *ngIf="requestType.invalid && requestType.touched && !isValidFormSubmitted"> 
                        {{errorTitle}}
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="priority" class="cols-sm-2 control-label">Resource Type</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-list list"></i></span>
                        <span>
                           <select name="resourceType" (change)="resourceRequested(requestType.value,resourceType.value)" required class="form-control" ngModel required #resourceType="ngModel">
                           <option value=""   id="first"  style="color:#D9D9D9">Please select resource type</option>
                           <option value="Hardware" [ngValue]="resourceType">Hardware Provisioning</option>
                           <option value="Software" [ngValue]="resourceType">Software Installation</option>
                           <option value="Network" [ngValue]="resourceType">Network Related</option>
                           </select>
                        </span>
                     </div>
                     <div *ngIf="resourceType.invalid && resourceType.touched && !isValidFormSubmitted"> 
                        {{errorTitle}}
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="priority" class="cols-sm-2 control-label">Resource</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-list list"></i></span>
                        <span><select [(ngModel)]="selectedResource" name="resource" class="form-control" ngModel required #resource="ngModel">
                        <option *ngFor="let resource of resourceValues" [ngValue]="resource">{{resource.resourceName}}</option>
                        </select></span>
                     </div>
                     <div *ngIf="resourceType.invalid && resourceType.touched && !isValidFormSubmitted"> 
                        {{errorTitle}} 
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="confirm" class="cols-sm-2 control-label">Comment</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i  class="fa fa-pencil comment"  aria-hidden="true" ></i></span>
                        <textarea name="comment" id="textarea" placeholder="Ticket Description" required ngModel required #comment="ngModel"></textarea>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="confirm" class="cols-sm-2 control-label">Location</label>
                  <div class="cols-sm-10">
                     <div class="input-group">
                        <span class="input-group-addon"><i  class="fa fa-pencil comment"  aria-hidden="true" ></i></span>
                        <textarea name="locn" id="textarea" placeholder="Seat Location" required  ngModel required #locn="ngModel"></textarea>
                     </div>
                  </div>
               </div>
               <div class="button-container">
                  <span><button type="submit" class="btn btn-default login-button" (click)="goBack()">Go Back</button></span>
                  <span><button type="submit" class="btn btn-default login-button" [disabled]="managerForm.invalid" >Register</button></span>
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>